---
layout: page
title: Contact
permalink: /contact/
---

<p></p>
<p> Don't hesitate to get in touch, leave a comment or ask a question.</p>
<ul style="list-style-type:none">
  <li>
    {% include _icons/email.svg %} write me an <a href="mailto:{{site.email}}" title="Email"><span class="icon icon--email"></span><span class="username">email</span></a>
  </li>
  <li>
    {% include _icons/linkedin.svg %} visit my <a target="_blank" href="https://www.linkedin.com/in/claudia-witkowski-11435569/" title="LinkedIn"><span class="icon icon--linkedin"></span><span class="username">LinkedIn profile</span></a>
  </li>
   <li>
     {% include _icons/skype_grey.svg %} call me via <a target="_blank" href="skype:claudiawitkowski"><span class="icon icon--twitter"></span><span class="username">Skype</span></a>
  </li>
</ul>
